.editor-styles-wrapper{ 
	background-color: #f2f5f7 !important; 
	font-family: "Raleway", sans-serif !important;
	color: #2e3970 !important;
	font-weight: 400 !important;
	font-size: 16px;
	overflow-x: hidden;
}
.editor-styles-wrapper h1, 
.editor-styles-wrapper h2, 
.editor-styles-wrapper h3, 
.editor-styles-wrapper h4, 
.editor-styles-wrapper h5, 
.editor-styles-wrapper h6,
.editor-post-title__block .editor-post-title__input{
	color: #001064 !important;
	font-family: "Raleway", sans-serif !important;
	font-weight: 500 !important;
	letter-spacing: -0.5px !important;
	text-align: left;
	font-size: 2.5rem;
}
.editor-post-title__block .editor-post-title__input{ text-align: center; }
.editor-styles-wrapper p a,
.editor-styles-wrapper ul li a{
	text-decoration: underline !important;
	color: #333;
}
.editor-styles-wrapper{ font-size: 1.125rem; }
.editor-styles-wrapper a{	
	font-weight: bold;
	line-height: 1.2;
	text-decoration: none!important;
	color: #333;
}
.editor-styles-wrapper ul li a,
.editor-styles-wrapper ol li footer a{
	color:#001064 !important;
	font-weight: normal;
	text-decoration: none !important;
	font-size: 16px;
}
.editor-styles-wrapper ol li .wp-block-latest-comments__comment-excerpt{
	font-size: 16px;
}
.editor-styles-wrapper .wp-calendar-nav span a,
.editor-styles-wrapper table tbody tr td a{
	color: #333;
	text-decoration: underline !important;
}
.editor-styles-wrapper a,
.editor-styles-wrapper table tbody a,
.editor-styles-wrapper table .wp-calendar-nav span a{
	text-decoration: underline !important;
	color: #333;
	font-weight: bold;
}
.editor-styles-wrapper p a{color: #f8f9f9}
.editor-styles-wrapper em a{ text-decoration: none !important; font-weight: 600; color: #000;}/*
.editor-styles-wrapper .alignwide{ margin-left: -40px; margin-right: -40px; width: auto; }*/
.block-editor-writing-flow{ 
	font-size: 1.125rem;
	margin-bottom: 25px;
}
.block-editor-writing-flow .has-drop-cap{
	line-height: 1.5;
	font-size: 19px !important;
}
.block-editor-block-list__block[data-type="core/button"][data-align="center"]{
  margin-left: auto;
  margin-right: auto;
}
.block-editor-block-list__block{
	margin-top: 0 !important;
}
.wp-block{
	max-width: 920px;
}
.block-editor-block-list__layout .mce-item-table{ width: 100%; }
.wp-block-freeform.block-library-rich-text__tinymce blockquote{ border-left: none; }
[data-type="core/columns"][data-align="full"] .wp-block-columns{
	padding-left: 14px;
	padding-right: 14px;
}
.wp-block-freeform.block-library-rich-text__tinymce ul,
.wp-block-freeform.block-library-rich-text__tinymce ol{ padding-left: 1.5em; }
.wp-block-freeform.block-library-rich-text__tinymce p{line-height: 1.5; font-size: 16px; font-family: "Raleway", sans-serif !important; color: #001064}
div[data-type="core/button"] { display: table; }
.wp-block-columns{ display: block; }
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption{ margin-left: auto; margin-right: auto; }
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption .wp-caption-dd{ display: flex; }
.wp-block-freeform.block-library-rich-text__tinymce ul li{color: #001064 !important;}
.block-editor-block-list__layout h1{font-size: 72px !important; line-height: 0.5; margin-top: 0 !important;}
.block-editor-block-list__layout h2{font-size: 48px !important; line-height: 0.5; margin-top: 0 !important;}
.block-editor-block-list__layout h3{font-size: 32px !important; line-height: 0.5; margin-top: 0 !important;}
.block-editor-block-list__layout h4{font-size: 26px !important; line-height: 0.5; margin-top: 0 !important;}
.block-editor-block-list__layout h5{font-size: 24px !important; line-height: 0.5; margin-top: 0 !important;}
.block-editor-block-list__layout h6{font-size: 18px !important; line-height: 0.5; margin-top: 0 !important;}
.components-disabled .wp-block-archives-list li a{
	color: #001064 !important;
	text-decoration: none !important;
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px;
	font-weight: normal !important;
}
.wp-block-button__link{
	color: #fff !important;
	background-color: #872bef !important;
	margin-bottom: 16px !important;
}
.wp-block-button__link:hover{
	background-color: #121A2F !important;
   color: #fff !important;
}
.is-style-outline .wp-block-button__link{
	border: 2px solid #872bef !important;
  	background-color: transparent !important;
  	color: #872bef !important;
}
.is-style-outline .wp-block-button__link:hover{
  border: 2px solid #121A2F !important;
  background-color: #fff !important;
  color: #121A2F !important;
  transition: background 150ms ease-in-out;
}
.block-editor-block-list__layout .wp-block-button{
	margin-bottom: 0 !important;
}
.wp-block-cover{ background-color: #000 !important; }
.wp-block-cover .wp-block-cover__inner-container{ max-width: 580px; }